<!-- 
<a routerLink="/">Home</a>

<div>
  <app-groups-menu></app-groups-menu>
</div>
<br>
<br>


<a routerLink="groups">Groups</a>
<br>
<a routerLink="groups/create">Create Group</a>
<a routerLink="services/create">Create Service</a>
<a routerLink="attendances/create">New Attendance</a>


<a routerLink="login" *ngIf="!isAuthorized">Login</a>
<a routerLink="sign-up" *ngIf="!isAuthorized">Sign Up</a>
<a (click)="signOut()" *ngIf="isAuthorized">Sign Out</a>

<a routerLink="users">Users</a>

<div>
  Hello, Ann
</div> -->


<header class="header">
  <nav class="header__container">

    <a class="header__logo" routerLink="/">
      hhSalon</a>
    
    <div class="header__menu">
      <nav class="menu__body">
        <ul class="menu__list">

          <li class="menu__link">
              <div class="menu__link-name">
                <a routerLink="groups">
                  Groups
                </a>
                <span class="menu__arrow"></span>
              </div>
              <app-groups-menu class="menu__sub-list"></app-groups-menu>
          </li>

          <li class="menu__link">
            <a routerLink="attendances/create">New appointment</a>
          </li>

          <li class="menu__link" *ngIf="isAuthorized">
            <a [routerLink]="['chat', '']">Chat</a>
            <span *ngIf="chatService.unreadCount > 0" style="margin-left: 5px">{{ chatService.unreadCount }}</span>
          </li>

          <li class="menu__link" *ngIf="isAuthorized">
            <div class="menu__link-name">
              <a class="">
                <i class="bi bi-gear"></i>
                My Attendances
              </a>
              <span class="menu__arrow"></span>
            </div>
            <ul class="menu__sub-list">
              <li class="menu__sub-link"><a routerLink="my-history"><i class="bi bi-person-square"></i> History</a></li>
              <li class="menu__sub-link"><a routerLink="my-not-rendered-attendances"><i class="bi bi-person-square"></i> Not rendered</a></li>
                <!-- <li class="menu__sub-link"><a><i class="bi bi-person-square"></i> All Attendances</a></li> -->
            </ul>

          </li>

          <ng-container *ngIf="role == 'Admin'">
            <li class="menu__link">
              <div class="menu__link-name">
                <a class="">
                  <i class="bi bi-gear"></i> Management
                </a>
                <span class="menu__arrow"></span>
              </div>
              <ul class="menu__sub-list">
                <li class="menu__sub-link"><a routerLink="groups/create"><i class="bi bi-collection"></i> New Group</a></li>
                <li class="menu__sub-link"><a routerLink="services/create"><i class="bi bi-receipt"></i> New Service</a></li>
                
                <li class="menu__sub-link"><a routerLink="workers"><i class="bi bi-person-square"></i> Workers</a></li>
                <li class="menu__sub-link"><a routerLink="users"><i class="bi bi-person-square"></i> Users</a></li>
                
                  <li class="menu__sub-link"><a routerLink="sign-up"><i class="bi bi-person-square"></i> New Client</a></li>
                  <li class="menu__sub-link"><a routerLink="worker-create"><i class="bi bi-person-square"></i> New Worker</a></li>
                  <li class="menu__sub-link"><a routerLink="admin-create"><i class="bi bi-person-square"></i> New Admin</a></li>
                
              </ul>
            </li>
          </ng-container>
          
          <ng-container *ngIf="role == 'Worker'">
            <li class="menu__link">
              <div class="menu__link-name">
                <a class="">
                  <i class="bi bi-gear"></i> Management
                </a>
                <span class="menu__arrow"></span>
              </div>
              <ul class="menu__sub-list">                
                  <li class="menu__sub-link"><a routerLink="worker-not-rendered"><i class="bi bi-person-square"></i> Not rendered</a></li>
                  <li class="menu__sub-link"><a routerLink="worker-history"><i class="bi bi-person-square"></i> History</a></li>
              </ul>
            </li>
          </ng-container>

          <li class="menu__link">
            <a routerLink="contacts">Contacts</a>
          </li>

        </ul>
        

      </nav>
    </div>
    
    

	<div class="identity">
		<a routerLink="login" *ngIf="!isAuthorized" class="sign-in">Login</a>
		<a routerLink="sign-up" *ngIf="!isAuthorized" class="sign-up">Sign Up</a>
	
    <div *ngIf="isAuthorized">
      
        <div class="identity-sign-in">
          <!-- <img class="header-identity__img"> -->
          <i class="bi bi-person"></i>
          <div class="identity-sign-in__info">
            {{ user.userName }}
          </div>
        </div>
    
        <div class="identity-dropdown">
            
              <div *ngIf="role === 'Worker'"  [routerLink]="['/workers/edit', id]">
                <i  class="bi bi-pencil-fill"></i>
                <a>Edit</a>
              </div>
              
              <div *ngIf="role !== 'Worker'"  [routerLink]="['/users/edit', id]">
                <i  class="bi bi-pencil-fill"></i>
                <a>Edit</a>
              </div>

              <div class="identity-sign-out"> 
                  <i class="bi bi-box-arrow-right"></i>
                  <a (click)="signOut()" *ngIf="isAuthorized">Sign Out</a>
            </div>
        </div>
      </div>
    </div>
  </nav>
</header>