<p class="title">Workers</p>
<table class="attendances-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>What</th>
            <th>Chat</th>
            <th *ngIf="role === 'Admin'">Edit</th>
            <th *ngIf="role === 'Admin'">Delete</th>          
        </tr>
    </thead>
    <tbody *ngFor="let worker of workers">
        <tr class="attendance-item">
            <td>{{worker.user.firstName}}</td>
            <td>{{worker.user.lastName}}</td>
            <td style="display: flex; flex-direction: column;">
                <span *ngFor="let group of worker.workers_Groups">{{group.group.name}}</span>
            </td>     
            <td><a [routerLink]="['/chat', worker.id]">Message</a></td>   
            <td *ngIf="role === 'Admin'">
                <i  [routerLink]="['/workers/edit', worker.id]" class="bi bi-pencil-fill"></i>
            </td>
            <td *ngIf="role === 'Admin'" (click)="deleteWorker(worker.id)">
                <i class="bi bi-trash"></i>
            </td>
        </tr>
    </tbody>
</table>