<div class="signup" name="signup">
    <div class="container">
       <h3 class="form-title">Sign up Worker</h3>
       <div>
            <form [formGroup]="signUpForm" class="form-auth">
                <div class="input-field">
                    <span class="fa fa-user"></span>
                    <input formControlName="firstName" type="text" placeholder="First name">
                    <p *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required', 'firstName')">
                        *First Name is requiered
                    </p>
                </div>
                <div class="input-field">
                    <span class="fa fa-user"></span>
                    <input formControlName="lastName" type="text" placeholder="Last name">
                    <p *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required', 'lastName')">
                        *Last Name is requiered
                    </p>
                </div>
                <div class="input-field">
                    <span class="fa fa-user"></span>
                    <input formControlName="email" type="text" placeholder="Email">
                    <p *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
                        *Email is requiered
                    </p>
                </div>
                <div class="input-field">
                    <span class="fa fa-user"></span>
                    <input formControlName="userName" type="text" placeholder="User name">
                    <p *ngIf="signUpForm.controls['userName'].dirty && signUpForm.hasError('required', 'userName')">
                        *User Name is requiered
                    </p>
                </div>

                <div class="input-field">
                    <span class="fa fa-user"></span>
                    <select formControlName="groupsIds" multiple>
                        <option [value]="group.id" *ngFor="let group of groupsList">
                            {{ group.name }}
                        </option>
                    </select>
                    <p *ngIf="signUpForm.controls['groupsIds'].dirty && signUpForm.hasError('required', 'groupsIds')">
                        *Group Name is requiered
                    </p>
                </div>
                <div class="input-field">
                    <span class="fa fa-user"></span>
                    <input formControlName="address" type="text" placeholder="Address">
                    <p *ngIf="signUpForm.controls['address'].dirty && signUpForm.hasError('required', 'address')">
                        *Address is requiered
                    </p>
                </div>

                <div class="input-field">
                    <span class="fa fa-user"></span>
                    <select formControlName="gender" >
                        <option value="Female" >
                            Female
                        </option>
                        <option value="Male">
                            Male
                        </option>
                    </select>
                    <p *ngIf="signUpForm.controls['gender'].dirty && signUpForm.hasError('required', 'gender')">
                        *Gender is requiered
                    </p>
                </div>
  
                <div class="input-field">
                    <span class="fa fa-lock"></span>
                    <input formControlName="password" [type]="type" placeholder="Password">
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                    <p *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">
                        *Password is requiered
                    </p>
                </div>
                <!-- <div class="input-field">
                    <span class="fa fa-lock"></span>
                    <input [type]="type" placeholder="Confirm Password">
                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                </div> -->
                <button (click)="onSingUp()" type="submit" class="btn-auth">Sign up</button>
                <div>
                    Already have an account?
                    <a id="forget" routerLink="/login">Login</a>
                </div>
            </form>
            <div>

            </div>
       </div>
    </div>
</div>

<!-- <button name="schedule" routerLink="worker-schedule-create" [routerLink]="['/services', workerId]">
    Create Worker Schedule
</button> -->
