<div class="user-edit">
    <p class="form-title">Edit {{user.firstName}} {{user.lastName}}</p>
    <div class="">
        
        <div>
            <div class="input-field">
                <span class="fa fa-user input-icon"></span>
                <!-- <label for="firstName">First Name</label> -->
                <input name="firstName"  id="firstName" [(ngModel)]="user.firstName">
                
            </div>
            <div class="input-field">
                <span class="fa fa-user input-icon"></span>
                <!-- <label for="lastName">Last Name</label> -->
                <input [(ngModel)]="user.lastName" id="lastName" type="text" placeholder="Last name">
                <!-- <p >
                    *Last Name is requiered
                </p> -->
            </div>
            <div class="input-field">
                <span class="fa fa-user input-icon"></span>
                <!-- <label for="email">Email</label>                 -->
                <input [(ngModel)]="user.email" type="text" placeholder="Email">
                <!-- <p >
                    *Email is requiered
                </p> -->
            </div>
         
       </div>
       <button class="btn" (click)="Save()">Save</button>
    </div>
 </div>
 