@import "/src/sass/variables.scss";

.container{
    padding: 110px 0px 0px 0px;
}

.user-edit{
    //width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.user-edit__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}