@import '/src/sass/variables.scss';

.messages{
    height: 490px;
    border-left: 2px $border solid;
    border-right: 2px $border solid;
    border-radius: 8%;
    padding: 16px;
    //box-shadow: 3px 3px 10px $border;
    //overflow-y: scroll;
}


.chat-item{
    cursor: pointer;
    margin-bottom: 16px;
    display: flex;
    gap: 28px; 
    justify-content: space-between;
    padding: 12px;
}

.chat-item.selected{
    box-shadow: 3px 3px 10px $border;

    .user-name__with{
        font-weight: 600;
    }
}
