<div style="display: flex; width: 1200px; gap: 24px" class="container">
    <div style="height: 440px;">
        <p style="margin: 0 0 28px 0; font-weight: 500; font-size: 18px">Messages</p>
        <div class="chat-item" *ngFor="let chat of chatService.chatList" (click)="toUserChanged(chat)" [class.selected]="chatSelected == chat" >
            <div>
                <span *ngIf="chat.userId === userId">
                    <p>{{chat.toUser.userName}}</p>
                    <span>you: </span>
                </span>
                <span *ngIf="chat.userId != userId">
                    <p>{{chat.user.userName}}</p>
                    <span>{{chat.user.userName}}: </span>
                </span>

                <span style="display: inline-block; overflow: hidden;  width: 40px; "
                    [ngClass]="{'large' : chat.lastMessage != undefined && chat.lastMessage.length > 10 }"
                >{{chat.lastMessage}}</span>  

                <span *ngIf="chat.toUserId != userId" style="margin-left: 12px">
                    <i *ngIf="chat.isRead">
                        <img src="assets/img/icons/check-all.svg" alt="read">
                    </i>
                    <i *ngIf="!chat.isRead">
                        <img src="assets/img/icons/check.svg" alt="unread">
                    </i>
                </span>
            </div>
            
               
            <div class="display: flex; justify-content:column;">
                <div style="font-size: 12px">
                    {{chat.date | date}}
                    {{chat.date | time}}
                </div>
                <div *ngIf="chat.toUserId === userId && chat.messageUnreadCount > 0" style="margin-left: 5px; font-weight:500;">
                    {{ chat.messageUnreadCount}}
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="toUser != undefined" style="width: 60%; background-color: rgb(208, 248, 248);">
        <div style="text-align: center; font-weight: 500; font-size: 18px">{{toUser.userName}}</div>
        <div style="height: 97%; display: flex; flex-direction: column; justify-content: space-between;">
            <div>
                <app-messages style="align-items: end;" [messages]="chatService.messages"></app-messages>
            </div>
            <div >
                <app-chat-input (contentEmitter)="sendMessage($event)"></app-chat-input>
            </div>
        </div>
    </div>

    <div *ngIf="toUser === undefined" style="height: 300px; width: 60%; background-color: rgb(208, 248, 248);">
        <div style="text-align: center;padding-top: 20%;">Select a chat</div>
    </div>
</div>