@import "src/sass/variables";

.login{
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form div:nth-child(2){
    margin-bottom: 52px;
}


.input-field.error{
    border: 1px solid red;
}



// @media(min-width:1200px){
//     .fa-user{
//         font-size: 40px;
//     }
// }