<p>Attendances History {{workerName}}</p>
<div>
    <table> 
        <thead> 
            <tr>
                <th>Service</th>
                <th>Group</th>
                <th>Client</th>
                <th>Date</th>
                <th>Time</th>
                <th>Message</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let attendance of attendances">
            <tr>
                <td>{{attendance.service.name}}</td>
                <td>{{attendance.group.name}}</td>
                <td>{{attendance.client.firstName}}</td>
                <td>{{attendance.date | date}}</td>
                <td>{{attendance.time | timeString}}</td>
                <td><a [routerLink]="['/chat', attendance.client.id]">Message</a></td>
                <td (click)="deleteAttendance(attendance.id)">
                    <i class="bi bi-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>

</div>

