<div *ngIf="service" class="service">
    <p class="title">Create a Service</p>
    <div class="input-field">
        <label for="name">Name </label>
        <input id="name" name="name" [(ngModel)]="service.name" type="text">
    </div>
    <div class="input-field">
        <label for="price">Price </label>
        <input id="price" name="price" [(ngModel)]="service.price" type="text">
    </div>

    <div class="input-field">
        <label for="group">Group</label>
        <select id="group" name="group" (change)="selectChanged($event.target)" [(ngModel)] = "service.groupId">
            <option [value]="group.id" *ngFor="let group of groups" >
                {{ group.name }}
            </option>
        </select>
    </div>

    <div>
        <button type="submit" (click)="createService(service)" class="btn">Create</button>
    </div>
</div>