<div class="container">
    
    <p class="title">{{groupName}}</p>
    

<!-- UPDATE -->
    <app-update-service (servicesUpdated)="updatedServicesList($event)" [service]="serviceToEdit"></app-update-service>

    <div class="items">
        <div class="item" *ngFor="let service of services">
        
            <div class="item-data">
                <span class="item-name">{{service.name}} </span>
                <span class="item-price">{{service.price}} </span>  
            </div>
    
            <div *ngIf="role === 'Admin'" (click)="updateService(service)">
                <i  class="bi bi-pencil-fill"></i>
            </div>
            
            <div *ngIf="role === 'Admin'" (click)="deleteService(service)">
                <i class="bi bi-trash"></i>
            </div>
            
            <!-- <a (click)="updateService(service)" type="submit" style="cursor:pointer; background-color: antiquewhite;">Edit</a>
            <a (click)="deleteService(service)" type="submit" style="cursor:pointer; background-color: antiquewhite;">Delete</a> -->
        </div>
    </div>
</div>