@import "fonts";
@import "variables.scss";
@import "reset.scss";
//@import "~toastr/toastr.scss";
@import "/node_modules/toastr/toastr.scss";

.toast{
    opacity: 1 !important;
}


body {
    color: #333;
    font-size: 16px;
    font-family: "Montserrat";
    background: #fff;
  }
  
  a {
    color: #333;
  }
  
  i{
    cursor: pointer;
}

  
  .wrapper {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    
   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
  }

a{
    cursor: pointer;
    color: $textColor;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 140px 0 0 0;
    //height: 100%;
    //background-color:aliceblue;
}



.container-content{
    height: 560px;  
    
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
}


///////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////


.items{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.item{
    display: flex;
    margin-bottom: 28px;
    

padding-bottom: 8px;

    justify-content: space-between;

    border-bottom: 1px solid $border;
    
}

.item:last-child{
    margin:0;
    border: none;
}

.item-data{    
   div{
    display: block;
   }
   display: flex;
   width: 80%;
}

.item-name{
    width: 90%;    
}











.delete__confirmed {
    
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
}

.delete > form > input {
}

.delete.active > .delete__confirmed {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    
}






///////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////
/// ///////////////////////////////////////////////////////






.attendances-table{

    td, th{
        font-size: 18px;
        padding: 12px;
    }
    margin-bottom: 20px;
    
}


.title-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.filter{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}









.form-auth span{
    font-size: 20px;
    color: $hoverColor;
    margin: 0 8px 0 0;
}

.form-auth p{
    margin-top: 12px;
    color: $error;
    font-size: 14px;
}

.input-field{
    margin-bottom: 28px;
    label{
        display: inline-block;
        width: 112px;
    }
    input{
        width:360px;
    }
}

.input-icon{
    margin-right: 8px;
}

.form-title{
    margin: 0 0 40px 0;
    font-size: 28px;
    font-weight: 500;
}

input{
    font-size: 18px;
}

input::placeholder{
    font-size: 14px;
}

.btn{
    font-size: 16px;
    padding: 16px 0px;
    border-radius: 12px;
    background-color: $hoverColor;
    font-weight: 600;
    width: 100%;
    
    color: #fff;
    margin: 24px 0 20px 0;
    transition: 0.6s;
}

.btn:hover{
    transition: 0.5s;
    background-color: $beigeColor;
    color: $textColor;
    
}



#forget{
    text-decoration: underline;
}

#forget:hover{
    text-decoration: none;
}

































