<p>My Attendances {{name}}</p>
<form name="filter">
   <div>
        <input (change)="filterNotPaid()" checked type="radio" name="attendance" id="not-paid">
        <label for="not-paid">Not Paid</label>
   </div>

    <div>
        <input (change)="filterIsPaid()" type="radio" name="attendance" id="is-paid">
        <label for="is-paid">Is Paid</label>
    </div>
</form>
<div>
    <table> 
        <thead> 
            <tr>
                <th>Service</th>
                <th>Group</th>
                <th>Worker</th>
                <th>Date</th>
                <th>Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody *ngFor="let attendance of attendances">
            <tr>
                <td>{{attendance.service.name}}</td>
                <td>{{attendance.group.name}}</td>
                <td>{{attendance.worker.user.firstName}}</td>
                <td>{{attendance.date | date}}</td>
                <td>{{attendance.time}}</td>
                <td><a routerLink="/">Edit</a></td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="isShown">
        <button>Pay</button>
    </div>
</div>

