<!-- <div *ngFor="let day of Days | enumToArray;"> -->
<div class="container" style="display: flex; flex-direction: column; align-items: center;">
    <p class="title">Create Schedule</p>
    <div class="schedules">
        <div *ngFor="let schedule of schedules">
            <p class="schedule-day">{{ schedule.day }} </p>
            <div>
                <label for="start">Start</label>
                <input id="start" [(ngModel)]="schedule.start" type="time">    
            
                <label for="end">End</label>
                <input id="end" [(ngModel)]="schedule.end" type="time">
            </div>
            <br>
        </div>
    </div>
    
    <button routerLink="/workers" style="font-weight: 500; font-size: 18px;">Skip</button>
    <button (click)="createSchedule(schedules)" class="btn" style="width: 36%; margin: 12px 0px 0px 0px;">Update</button>
    
</div>